@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Roboto:ital,wght@1,300&family=Tilt+Neon&display=swap');

* {
  font-family: "Monsterrat", sans-serif;
}

/*navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #003B77;
}
.nav {
  color: #fff;
}
.nav-logo {
width: 150px;
height: auto;
}

/* .add-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  border: 55px solid black;
  border-radius: 6px;
  border-width: 11px;
  background: #003c7782;
} */

.add-item {
  background-color: #003c7755;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 320px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 38%;
}
.add-item mat-card-title {
  font-size:35px;
  margin-bottom: 30px;
}





