
<h2>Add an Item</h2>
<form [formGroup]="itemForm" (ngSubmit)="addItem()">
  <div class="form-group">
    <label for="itemName">Item Name:</label>
    <input type="text" id="itemName" name="itemName" formControlName="itemName">
  </div>
  <div class="form-group">
    <label for="itemQuantity">Quantity:</label>
    <input type="number" id="itemQuantity" name="itemQuantity" formControlName="itemQuantity">
    <div *ngIf="itemForm.get('itemQuantity')?.hasError('required')">Quantity is required.</div>
    <div *ngIf="itemForm.get('itemQuantity')?.hasError('min')">Quantity must be at least 1.</div>
    <div *ngIf="itemForm.get('itemQuantity')?.hasError('max')">Quantity must not exceed 100.</div>
  </div>
  <div class="form-group">
    <label for="itemPrice">Price:</label>
    <input type="number" id="itemPrice" name="itemPrice" formControlName="itemPrice">
    <div *ngIf="itemForm.get('itemPrice')?.hasError('required')">Price is required.</div>
    <div *ngIf="itemForm.get('itemPrice')?.hasError('min')">Price must be at least 0.01.</div>
    <div *ngIf="itemForm.get('itemPrice')?.hasError('max')">Price must not exceed 1000.</div>
  </div>
  <button type="submit" [disabled]="!itemForm.valid">Add Item</button>
</form>
 



<h2>Stored Items</h2>
<table >
  <thead>
    <tr>
      <th> Name</th>
      <th> Quantity</th>
      <th> Price</th>
    </tr>
  </thead>
  <!-- TODO:ADD VALIDATION -->
  <tbody *ngFor="let item of items">
    <tr>
      <td>{{ item.name }}</td>
      <td>{{ item.quantity }}</td>
      <td>{{ item.price }}</td>
      <button (click)="deleteItems(item.id)" >Delete</button>
      <button (click)="editItems(item)" >Edit</button>

    </tr>

  </tbody>
</table>



